{% extends 'layout.html' %}
{% block container %}
    <div>
        <form class="vert vert-form" action="{{ url_for('auth.create_post', sub_route=sub.route) }}" method="post">
            {% for field in form %}
                {% if field.type == 'BooleanField' %}
                    <div class="inline">
                        {{ field }}{{ field.label }}
                    </div>
                {% elif field.type == 'SubmitField' %}
                    {{ field }}
                {% else %}
                    {{ field(placeholder=field.label.text) }}
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% endblock %}