{% extends 'layout.html' %}
{% set active_page = 'register' %}
{% block content %}
    <div class="container">
        <form class="mt-2" action="">
            {% for field in form %}
                {% if field.type == 'SubmitField' %}
                    <div class="form-group">
                        {{ field(class='form-control btn btn-outline-primary') }}
                    </div>
                {% elif field.type != 'CSRFTokenField' %}
                    <div class="form-group">
                        {{ field.label }}
                        {{ field(class='form-control') }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% endblock %}