{% extends 'layout.html' %}
{% set active_page = 'account' %}
{% block container %}
    {% if current_user.is_authenticated %}
        <div class="profile">
            <p>
                Username: {{ current_user.username }}
            </p>
            <p>
                Email: {{ current_user.email }}
            </p>
            <p>
                New Messages: <a href="{{ url_for('home.view_inbox') }}">{{ message_count }}</a>
            </p>
        </div>
    {% endif %}
{% endblock %}