{% extends 'layout.html' %}
{% set active_page = 'account' %}
{% block container %}
    {% if current_user is defined %}
        <div class="profile">
            <table>
                <tr>
                    <td class="lcol">Username: </td>
                    <td>{{ current_user.username }}</td>
                </tr>
                <tr>
                    <td class="lcol">Email: </td>
                    <td>{{ current_user.email }}</td>
                </tr>
                <tr>
                    <td class="lcol">Messages:</td>
                    <td>
                        <a href="{{ url_for(home.view_inbox) }}">{{ message_count }}</a>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}