{% extends 'layout.html' %}
{% set active_page = 'account' %}
{% block container %}
    {% if current_user.is_authenticated %}
        <div class="profile">
            <p>
                Username: {{ current_user.username }}
            </p>
            <p>
                Email: {{ current_user.email }}
            </p>
            <p>
                New Messages: {{ message_count }} <a href="{{ url_for('home.view_inbox') }}">View Inbox</a>
            </p>
            {% if current_user.is_admin %}
                <a href="{{ url_for('admin.homepage') }}">Admin Dashboard</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}