{% extends 'layout.html' %}
{% block container %}
    {% if include_control %}
        {% include 'inc/control.html' %}
    {% endif %}
    {% for post in posts %}
        <div class="post-small">
            <div class="post-data">
                <a class="post-title" href="{{ url_for('home.view_post', route=post.route) }}">{{ post.name }}</a>
                <p>
                    {{ post.description }}
                </p>
                <p>
                    {{ post.created_on }}
                </p>
            </div>
            <div class="icons">
                <p>
                    {{ post.count }} <i class="fa fa-comments" aria-hidden="true"></i>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <a href="{{ url_for('auth.del_post', route=post.route)}}">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="{{ url_for('home.pin_post', route=post.route) }}">
                            {% if post.is_pinned %}
                                <i class="fa fa-thumb-tack pinned" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% else %}
                        {% if post.is_pinned %}
                            <i class="fa fa-thumb-tack pinned" aria-hidden="true"></i>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}