{% if current_user.is_authenticated %}
{% set navigation_bar = [
        (url_for('home.homepage'), 'index', 'Home'),
        (url_for('home.dash'), 'account', 'Account'),
        (url_for('auth.logout'), 'logout', 'Logout')
    ]
%}
{% else %}
{% set navigation_bar = [
        (url_for('home.homepage'), 'index', 'Home'),
        (url_for('auth.register'), 'register', 'Register'),
        (url_for('auth.login'), 'login', 'Login')
    ]
%}
{% endif %}
<nav>
    <div class="container">
        <div class="left">
            <h1 class="title">
                Flask Forum
            </h1>
            <ul class="nav">
                {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="active" {% endif %}>
                    <a href="{{ href }}" title="{{ id }}">{{caption}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if sub is defined %}
            <div class="breadcrumb">
                <a href="/sb/{{ sub['route'] }}">{{ sub['title'] }}</a>/{% if post is defined %}<a href="/ps/{{ post['route'] }}">{{ post['title'] }}</a>{% endif %}
            </div>
        {% elif title is defined %}
            <div  class="breadcrumb">
                <p>{{ title }}</p>
            </div>
        {% endif %}
        <div class="right">
            <form action="/s/" method="get">
                <label>
                    <input type="search" placeholder="Search" class="search" name="kw">
                </label>
            </form>
        </div>
    </div>
</nav>