{# subs file #}
{% if standalone %}
    {% extends 'layout.html' %}
    {% if current_user.is_authenticated %}
        <div class="m-1 p-2 border">
            <a href="{{ url_for('auth.create_sub') }}">Create Sub Forum</a>
        </div>
    {% endif %}
{% endif %}

{% for sub in forums %}
    <div class="m-1 p-2 border">
        <a href="{{ url_for('home.view_sub', route=sub.route) }}" class="h4">{{ sub.title }}</a>
        <p>
            {{ sub.description }}
        </p>
    </div>
    </div>
{% endfor %}