{# subs file #}
{% if current_user.is_authenticated %}
    <div class="control">
        <a href="{{ url_for('auth.create_sub') }}">Create Sub Forum</a>
    </div>
{% endif %}
{% for sub in forums %}
    <div class="sub">
        <div class="sub-data">
            <a href="{{ url_for('home.view_sub', route=sub.route) }}">{{ sub.title }}</a>
            <p>
                {{ sub.description }}
            </p>
        </div>
        <div class="icons">
            {% if current_user.is_authenticated and current_user.is_admin %}
                <a href="{{ url_for('home.pin_sub', route=sub.route) }}">
                    {% if sub.pinned %}
                        <i class="fa fa-thumb-tack pinned" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                    {% endif %}
                </a>
            {% else %}
                {% if sub.pinned %}
                    <i class="fa fa-thumb-tack pinned" aria-hidden="true"></i>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endfor %}