{# subs file #}
{% if current_user.is_authenticated and current_user.is_admin %}
    <div class="sub">
        <a href="{{ url_for('auth.create_subn') }}">Create Sub Forum</a>
    </div>
{% endif %}
{% for sub in subs %}
    <div class="sub">
        <div class="sub-data">
            <a href="/sb/{{ sub['route'] }}">{{ sub['title'] }}</a>
            <p>
                {{ sub['description'] }}
            </p>
            <p>
                Last Post: <script>document.write(convert({{ sub['modified'] }}))</script>
            </p>
        </div>
        <div class="icons">
            <p>
                {{ sub['posts'] }} <i class="fa fa-comments" aria-hidden="true"></i>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="/pn/{{ sub['_id'] }}" title="Pin Post" >
                    {% if sub['pinned_sub'] %}
                        <i class="fa fa-thumb-tack pinned" aria-hidden="true" ></i>
                    {% else %}
                        <i class="fa fa-thumb-tack" aria-hidden="true" ></i>
                    {% endif %}
                    </a>
                {% endif %}
            </p>
        </div>
    </div>
{% endfor %}