{% extends 'layout.html' %}
{% block container %}
    <div class="post">
        <h2 class="post-title">{{ post['title'] }}</h2>
        {% if session['id'] is defined %}
            {% if session['id'] == post['author'] %}
                <a>Edit <i class="fa fa-pencil-square-o"></i></a>
            {% endif %}
        {% endif %}
        <p>
            {{ post['content'] }}
        </p>
        <p id="post-footer">
            By {{ post['author'] }} -
            <script>
                document.write(convert({{ post['timestamp'] }}))
                console.log(convert({{ post['timestamp'] }}))
            </script>
        </p>
        {% if session['user'] is defined %}
            <div class="wrap">
                <p> Add Comment </p>
                <form action="/cm/" method="post" class="sub-v">
                    <textarea name="comment" placeholder="Comment" rows="4"> </textarea>
                    <input type="hidden" value="{{ post['_id'] }}" name="post_id">
                    <input type="hidden" value="/ps/{{ post['route'] }}" name="path">
                    <button type="submit"> Post Comment</button>
                </form>
            </div>
        {% endif %}
        {% for comment in comments %}
            <div class="post">
                <p>
                    {{ comment['comment'] }}
                </p>
                <p>
                    By {{ comment['author'] }} -
                    <script>
                        document.write(convert({{ comment['timestamp'] }}))
                    </script>
                </p>
            </div>
        {% endfor %}

    </div>
{% endblock %}
