{% if session['user'] is defined %}
{% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/acc/', 'dash', 'Dash'),
        ('/lo/', 'logout', 'Logout')
    ]
%}
{% endif %}
<nav>
    <div class="container">
        <div class="left">
            <h1 class="title">
                Flask Forum
            </h1>
            <ul class="nav">
                {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="active" {% endif %}>
                    <a href="{{ href }}" title="{{ id }}">{{caption}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if title is defined %}
            <div  class="breadcrumb">
                <p>{{ title }}</p>
            </div>
        {% else %}
            <div  class="breadcrumb">
                <p>Dash</p>
            </div>
        {% endif %}
        <div class="right">
            <form action="/s/" method="get">
                <label>
                    <input type="search" placeholder="Search" class="search" name="kw">
                </label>
            </form>
        </div>
    </div>
</nav>