{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h1>Flask Forum Chat {{ room }}</h1>
        <div class="form-group">
            <label for="chat"></label>
            <textarea readonly="readonly" id="chat" cols="80" rows="20" class="form-control"></textarea><br><br>
        </div>
        <div class="form-group">
            <input type="text" id="text" size="80" placeholder="Message" class="form-control">
        </div>
        <a href="" onclick="leaveRoom();" role="button" class="btn btn-outline-danger">Leave the room</a>
    </div>
    <ul class="flashes">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li class="flash">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </ul>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var socket, chat, textInput;

        $(document).ready(function () {
            socket = io.connect('http://' + document.domain + ':' + location.port);
            chat = $('#chat');
            textInput = $('#text');
            console.log(chat, textInput);
            socket.on('connect', function () {
                socket.emit('joined', {});
                console.log('Connected to {{ room }}')
            });

            socket.on('status', function (data) {
                chat.val(chat.val() + '<' + data.msg + '>\n');
                chat.scrollTop(chat[0].scrollHeight);
            });

            socket.on('message', function (data) {
                chat.val(chat.val() + data.msg + '\n');
                chat.scrollTop(chat[0].scrollHeight);
            });

            textInput.keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code === 13) {
                    text = textInput.val();
                    socket.emit('text', {msg: text});
                }
            })
        });

        function leaveRoom() {
            socket.emit('left', {}, function () {
                socket.disconnect();

                window.location.href = "{{ url_for('home.homepage') }}";
            });
        }
    </script>
{% endblock %}