{% extends 'layout.html' %}
{% set active_page = 'account' %}
{% block content %}
    <div class="container">
        {% if current_user is defined %}
            <div class="profile">
                <form class="mt-2" action="{{ url_for('user.update', route='current_user.profile_route') }}">
                    {% for field in form %}
                        {% if field.type == 'SubmitField' %}
                            <div class="form-group row">
                                <div class="col-lg">
                                    {{ field(class='form-control btn btn-outline-primary') }}
                                </div>
                            </div>
                        {% elif field.type == 'FileField' %}
                            <div class="form-group row">
                                <div class="form-group col-md-2">
                                    {{ field.label }}
                                </div>
                                <div class="form-group col-md-5">
                                    {{ field(class="form-control-file") }}
                                </div>
                            </div>
                        {% elif field.type != 'CSRFTokenField' %}
                            <div class="form-group row">
                                <div class="col-md-2">
                                    {{ field.label }}
                                </div>
                                <div class="col-md">
                                    {{ field(class='form-control') }}
                                </div>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </form>
                <div class="row">
                    <div class="col-sm-2">Messages:</div>
                    <div class="col-sm-3">
                        <a href="{{ url_for('user.inbox_page') }}">{{ new_message_count }}/{{ message_count }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Profile URL:</div>
                    <div class="col-sm-2">{{ profile_url }}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}