{% extends 'layout.html' %}
{% set active_page = 'account' %}
{% block content %}
    <div class="container">
        {% if current_user is defined %}
            <div class="mt-2">
                    <form action="{{ url_for('user.update', route='current_user.profile_route') }}" method="post">
                        {% for field in form %}
                            {% if field.type == 'SubmitField' %}
                            <div class="form-group row">
                                <div class="col">
                                    {{ field(class='form-control btn btn-outline-success') }}
                                </div>
                            </div>
                            {% elif field.type == 'FileField' %}
                                <div class="form-group row">
                                    <div class="col-2">
                                        {{ field.label }}
                                    </div>
                                    <div class="col-md-10">
                                        {{ field(class="form-control-file")}}
                                    </div>
                                </div>
                            {% elif field.type != 'CSRFTokenField' %}
                                <div class="form-group row">
                                    <div class="col-2">
                                        {{ field.label }}
                                    </div>
                                    <div class="col-md">
                                        {{ field(class='form-control', value="") }}
                                    </div>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </form>
                    <div class="row">
                        <div class="col-md-2">Messages:</div>
                        <div class="col-md-10">
                            <a href="{{ url_for('user.inbox_page') }}">{{ new_message_count }}/{{ message_count }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">Profile URL:</div>
                        <div class="col-md-10">{{ profile_url }}</div>
                    </div>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}