<nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 brand">FlaskForum</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        {% include 'admin/inc/navigation/authenticated.html' %}
        <form action="{{ url_for('home.search') }}" method="post" class="form-inline my-2 my-lg-0">
            {% for field in search_form %}
                {% if field.type == 'SubmitField' %}
                    <div class="form-group">
                        {{ field(class='form-control btn btn-outline-success my-2 my-sm-0') }}
                    </div>
                {% elif field.type != 'CSRFTokenField' %}
                    <div class="form-group">
                        {{ field(class='form-control mr-sm-2') }}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </form>
    </div>
</nav>