{% if current_user.is_authenticated %}
    {% set navigation_bar = [
        (url_for('admin.homepage'), 'index', 'Admin Home'),
        (url_for('home.homepage'), 'account', 'Site Home'),
        (url_for('admin.show_users'), 'users', 'Users'),
        (url_for('auth.logout'), 'logout', 'Logout')
    ] %}
{% endif %}
<nav>
    <div class="container">
        <div class="left">
            <h1 class="title">
                Flask Forum
            </h1>
            <ul class="nav">
                {% for href, id, caption in navigation_bar %}
                    <li {% if id == active_page %} class="active" {% endif %}>
                        <a href="{{ href }}" title="{{ id }}">{{ caption }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>