{% extends 'admin/layout.html' %} 
{% set active_page = 'users' %}
{% block content %} {% if users is defined %}
<div class="m-2 p-2 border">
    <a href="{{ url_for('admin.create_user') }}">Create User</a>
</div>
<div class="mx-2">
    <table class="table table-responsive-md border-md table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Admin</th>
                <th scope="col">Confirmed</th>
                <th scope="col">Confirmed On</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.is_admin }}</td>
                <td>{{ user.confirmed }}</td>
                {% if user.confirmed_on is not none %}
                    <td>{{ user.confirmed_on }}</td>
                {% else %}
                    <td class="text-danger" >Not Confirmed</td>
                {% endif %}
                <td class="btn-group" role="group">
                    <a href="{{ url_for('admin.edit_user', user_id=user.id ) }}" class="btn btn-info" role="button">Edit User</a>
                    <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteUserModal">Delete User</button>
                    {% if user.confirmed_on is none %}
                        <!-- 
                            Feature not yet implemented as need to work on sending initial confirmation email
                            once that has been completed this feature should be pretty quick to implement
                            since we will already have the framework implemented.
                         -->
                        <a class="btn btn-primary" role="button" href="#">Resend Confirmation Email</a>
                    {% else %}
                        <a class="btn btn-primary disabled" tabindex="-1" role="button" href="#">Resend Confirmation Email</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true" id="deleteUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
            </div>
            <div class="modal-footer">
                <!-- TODO: Pass the id of the selected user to the function so that it can post it to the server to delete the user -->
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %}