<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Forum</title>
    <meta charset="UTF-8"/>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style/normalise.css') }}"/>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
{% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/acc/', 'account', 'Account'),
        ('/reg/', 'register', 'Register')
    ]
%}
<nav>
    <div class="container">
        <div class="left">
            <h1 class="title">
                Flask Forum
            </h1>
            <ul class="nav">
                {% for href, id, caption in navigation_bar %}
                <li {% if id == active_page %} class="active" {% endif %}>
                    <a href="{{ href }}" title="{{ id }}">{{caption}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% if active_page != 'index' or active_page != 'account' %}
        <div class="breadcrumb">
            {% if sub != None %}
                <a href="/sb/{{ sub['_id'] }}">{{ sub['title'] }}</a>/<a href="/ps/{{ post['_id'] }}">{{ post['title'] }}</a>
            {% endif %}
        </div>
        {% endif %}
        <div class="right">
            <form action="/s/" method="get">
                <label>
                    <input type="search" placeholder="Search" class="search">
                </label>
            </form>
            {% if user != None %}
                <h2 class="user">{{ user['username'] }}</h2>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container">
{% block container %}

{% endblock %}
<footer>
    &copy; 2017 Spen Hanley. All Rights Reserved.
</footer>
</div>
</body>
</html>