{% extends 'layout.html' %}
{% set active_page = 'register' %}
{% block container %}
    <form class="vert" action="/reg/" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <input type="email" placeholder="Email" name="email" autocomplete="false">
        <input type="email" placeholder="Confirm Email" name="confirm" autocomplete="false">
        <button type="submit">Register</button>
    </form>
{% endblock %}