.container {
    border: 1px solid #F2F2F2;
    margin: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
}

th {
    border-bottom: 1px solid gray;
    padding-top: 2px;
}

.users tr td a {
    color: chocolate;
}