@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav .brand {
    color: darkcyan;
    padding: 0 0.6rem;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    flex-direction: row;
}

nav .brand h1 {
    margin-bottom: 0;
    width: 90vw;
}

nav .brand a {
    cursor: pointer;
}

nav .brand i {
    margin: 0.67em 0;
    margin-bottom: 0;
    font-size: 2em;
}

nav .breadcrumb {
    display: none;
}

nav .search {
    background: transparent;
    border: none;
    width: 90vw;
    /* margin: 0 .4rem; */
}

nav .nav-search {
    display: flex;
    flex-direction: row;
    padding: .6rem;
    border-bottom: 1px solid #f2f2f2;
    width: 100vw;
    overflow-x: hidden;
}

nav .nav-search i {
    color: chocolate;
}

nav .nav-search button {
    background: transparent;
    border: none;
    cursor: pointer;
}

nav .nav li {
   padding: 0.6rem;
   border-bottom: 1px solid #f2f2f2;
}

nav .nav li a {
    color: chocolate;
    text-decoration: none;
}

footer {
   bottom: 0;
   position: fixed;
   color: chocolate;
   border-top: 1px solid #f2f2f2;
   padding: 0.6rem 0;
   width: 100vw;
   text-align: center;
}

.sub, .control {
    border: 1px solid #f2f2f2;
    padding: .6rem;
    margin: .4rem;
}

.sub a {
    color: darkcyan;
    /* text-transform: uppercase; */
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.control a {
    color: chocolate;
    text-decoration: none;
    font-weight: bold;
}

.sub a:hover {
    text-decoration: underline;
}