/* Defaults */
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Beta", "Bitstream Vera Sans", DejaVu Sans, Tahoma, sans-serif;
}

nav {
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    border-bottom: 1px solid #f2f2f2;
}

nav .left {
    display: flex;
}

nav .title {
    color: darkcyan;
}

nav .title .tail {
    color: chocolate;
}

nav .left .nav {
    margin-left: 10px;
}

nav .left .nav li{
    display: inline;
    list-style-type: none;
}

nav .left .nav li a {
    color: darkcyan;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    line-height: 30px;
}

nav .left .nav li:nth-child(even) {
    margin: 0 5px;
}

nav .left .nav li .active{
    border-bottom: 2px solid chocolate;
}

nav .breadcrumb {
    color: chocolate;
    font-weight: bold;
    font-size: 21px;
    text-transform: lowercase;
    line-height: 30px;
}

nav .right {
    display: flex;
}

nav .right input[type=search] {
    border: 1px solid #f2f2f2;
    line-height: 30px;
    font-size: 21px;
    background: transparent;
}

nav .right i {
    color: chocolate;
    padding: 0 5px;
    line-height: 30px;
    font-size: 21px;
}