{# posts file #}
{% for post in posts %}
    <div class="sub">
        <div class="sub-data">
            <a href="/ps/{{ post['route'] }}/">{{ post['title'] }}</a>
            <p>
                {{ post['content'] }} {# This will be limited to only show a few lines of text #}
            </p>
            <p>
                Modified: {{ post['modified'] }}
            </p>
        </div>
        {% if post['comments'] is defined %}
            <div class="icons">
                <p>
                    {{ post['comments'] }} <i class="fa fa-comments" aria-hidden="true"></i>
                    {% if session['user'] is defined and session['user']['admin'] %}
                        <a href="/pnp/{{ post['_id'] }}" title="Pin Post">
                            {% if post['pinned_post'] %}
                                <i class="fa fa-thumb-tack pinned" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                            {% endif %}
                        </a>
                    {% endif %}
                </p>
            </div>
        {% endif %}
    </div>
{% endfor %}