<nav class="navbar navbar-expand-md navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 brand">FlaskForum</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        {% if current_user.is_anonymous %}
            {% include 'inc/navigation/unauthenticated.html' %}
        {% else %}
            {% include 'inc/navigation/authenticated.html' %}
        {% endif %}

        <div class="mr-auto">
          {% if post is defined %}
            <a href="/">Home</a>/<a href="{{ url_for('home.view_sub', route=sub.route) }}">{{ sub.title }}</a>/{{ post.title }}
          {% elif sub is defined %}
            <a href="/">Home</a>/{{ sub.title }}
          {% endif %}
        </div>

        {% if search_form is defined %}
            <form action="{{ url_for('home.search') }}" method="post" class="form-inline my-2 my-lg-0">
                {% for field in search_form %}
                    {% if field.type == 'SubmitField' %}
                        <div class="form-group">
                            {{ field(class='form-control btn btn-outline-success my-2 my-sm-0') }}
                        </div>
                    {% elif field.type != 'CSRFTokenField' %}
                        <div class="form-group">
                            {{ field(class='form-control mr-sm-2') }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            </form>
        {% else %}
            <div class="my-2 my-lg-0">
                {{ current_user.username }}
            </div>
        {% endif %}
    </div>
</nav>
