<!DOCTYPE html>
<html lang="en">
<head>
    {% if sub is defined and sub.name is defined %}
    <title>{{ sub.name }}</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/normalize.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}" />
</head>
<body>

    {% include 'inc/nav.html' %}
    <div class="container">
        {% block container %} {% endblock %}
        <footer>
            &copy; 2017 Spen Hanley. All Rights Reserved.
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>