<!DOCTYPE html>
<html lang="en">
<head>
    {% if sub is defined and sub.title is defined %}
    <title>{{ sub.title }}</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/main.css') }}" rel="stylesheet">
</head>
<body>

    {% include 'inc/nav.html' %}
    <div class="container">
        {% block container %} {% endblock %}
        <footer>
            &copy; 2017 Spen Hanley. All Rights Reserved.
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>